= simple_form_for @note, html: {multipart: true} do |f|
    = f.input :title
    = f.input :content
    = f.input :image, as: :file 
    .form-actions
        = f.submit 'Submit', class: "button small-top-margin"
        = link_to "Back", notes_path, class: "button small-top-margin"